@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');
html{
    background-color:  #F4AA78;
    
}

body{
    background-color: white;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 8em;
    margin-right: 8em;
    padding-top: 6em;
    padding-bottom: 3em;
    text-align: center;
    font-family:'Sulphur Point'
   
    

    

}
h1,h2{
    font-weight:200;

}
#recebe{
    background-color: #F4AA78;
    border-color:  #F4AA78;
    padding: 20px 60px 10px ;
    margin-bottom: 30px;
    text-align: center;
    font-size: 18px;
    font-family:'Sulphur Point'
    
}
#recebe:hover{
  background-color:   #F7D0B5;
  
    
}
    
    

#creditCardNumber{
    background-color: #F7D0B5;
    border-color: #F7D0B5;
    padding: 20px 60px 10px ;
    margin-bottom: 30px;
    text-align: center;
   
}